doctype html
html(lang=lang)
  head
    block vars
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(property="og:title",content="g0v Summit 2014")
    meta(property="og:image",content="http://summit.g0v.tw/images/main-en-bak.png")
    link(rel='SHORTCUT ICON', href='/g0v.ico')
    title #{tabName} g0v Summit 2014 啥米零時政府
    // Bootstrap Core CSS
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    // Custom CSS
    link(rel='stylesheet', type='text/css', href='/css/business-frontpage.css')
    link(rel='stylesheet', type='text/css', href='/css/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='/css/app.css')
    // Live CSS
    link(rel='stylesheet', type='text/css', href='/css/live.css')
    //- TODO this style is only used in index.jade. check if we should do sth with it.
    style(type='text/css').
      .todo li {
      background-image: none;
      color: hsl(210, 29%, 72%);
      }
      .todo li a {
      color: white;
      }

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    block script
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html'): .noimg g0v Summit 2014
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='schedule.html')
                img(src='/images/icons/svg/roundicons free set-16.svg',alt=_('Schedule'),title=_('Schedule'))
                span= _('Schedule')
            li
              a(href='speaker.html')
                img(src='/images/icons/svg/roundicons free set-01.svg',alt=_('Speakers'),title=_('Speakers'))
                span= _('Speakers')
            li
              a(href='live.html')
                img(src='/images/icons/svg/live-icon.svg',alt=_('Live'),title=_('Live'))
                span= _('Live')
            li
              a(href='sponsor.html')
                img(src='/images/icons/svg/roundicons free set-17.svg',alt=_('Sponsors'),title=_('Sponsors'))
                span= _('Sponsors')
            li
              a(href='transport.html')
                img(src='/images/icons/svg/roundicons free set-18.svg',alt=_('Venue'),title=_('Venue'))
                span= _('Venue')
            li
              a(href='staff.html')
                img(src='/images/icons/svg/staff-icon.svg',alt=_('Staff'),title=_('Staff'))
                span= _('Staff')
            li
              if lang == 'zh'
                a(href='/en-US/index.html')
                  .noimg English
              if lang == 'en'
                a(href='/zh-TW/index.html')
                  .noimg 中文
        // /.navbar-collapse
      // /.container
    // Image Background Page Header
    block body
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
    script(type="text/javascript",src="/js/vendor.js")
    //-
      // jQuery Version 1.11.0
      script(src='js/jquery-1.11.0.js')
      script(src='js/jquery-ui-1.10.3.custom.min.js')
      script(src='js/jquery.ui.touch-punch.min.js')
      // Bootstrap Core JavaScript
      script(src='js/bootstrap.min.js')
