doctype html
html(lang=lang)
  head
    block vars
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(property="og:title",content="g0v Summit 2014")
    meta(property="og:image",content="http://summit.g0v.tw/images/main-en-bak.png")
    link(rel='SHORTCUT ICON', href='/g0v.ico')
    title #{tabName} g0v Summit 2014 啥米零時政府
    // Bootstrap Core CSS
    link(rel='stylesheet', type='text/css', href='/2014/css/bootstrap.min.css')
    // Custom CSS
    link(rel='stylesheet', type='text/css', href='/2014/css/business-frontpage.css')
    link(rel='stylesheet', type='text/css', href='/2014/css/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='/2014/css/app.css')
    // Live CSS
    link(rel='stylesheet', type='text/css', href='/2014/css/live.css')
    //- TODO this style is only used in index.jade. check if we should do sth with it.
    style(type='text/css').
      .todo li {
      background-image: none;
      color: hsl(210, 29%, 72%);
      }
      .todo li a {
      color: white;
      }

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    block script
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html'): .noimg g0v Summit 2014
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='schedule.html')
                img(src='/2014/images/icons/svg/roundicons free set-16.svg',alt=_('Schedule'),title=_('Schedule'))
                span= _('Schedule')
            li
              a(href='speaker.html')
                img(src='/2014/images/icons/svg/roundicons free set-01.svg',alt=_('Speakers'),title=_('Speakers'))
                span= _('Speakers')
            li
              a(href='live.html')
                img(src='/2014/images/icons/svg/live-icon.svg',alt=_('Live'),title=_('Live'))
                span= _('Live')
            li
              a(href='sponsor.html')
                img(src='/2014/images/icons/svg/roundicons free set-17.svg',alt=_('Sponsors'),title=_('Sponsors'))
                span= _('Sponsors')
            li
              a(href='transport.html')
                img(src='/2014/images/icons/svg/roundicons free set-18.svg',alt=_('Venue'),title=_('Venue'))
                span= _('Venue')
            li
              a(href='staff.html')
                img(src='/2014/images/icons/svg/staff-icon.svg',alt=_('Staff'),title=_('Staff'))
                span= _('Staff')
            li
              if lang == 'zh'
                a(href='/en-US/index.html')
                  .noimg English
              if lang == 'en'
                a(href='/zh-TW/index.html')
                  .noimg 中文
      #icecast
        a.btn.btn-primary.btn-sm.icecast-index(href='icecast.html', target='_blank') Icecast口譯
        a.btn.btn-primary.btn-sm(href='http://beta.hackfoldr.org/g0v-summit-2014-unconf', target='_blank') Unconf共筆
        // /.navbar-collapse
      // /.container
    // Image Background Page Header
    block body
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
    script(type="text/javascript",src="/2014/js/vendor.js")
    script(type='text/javascript').
      $('.icecast-index').on('click', function (event) {
        event.preventDefault();
        window.open(event.target.href, 'iecast口譯', 'width=500, height=500')
      });

    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41326468-1', 'summit.g0v.tw');
      ga('send', 'pageview');
      ga('require', 'displayfeatures');
