extends ../layout/page

mixin get(obj,name)
  | #{obj[name+"_"+lang] || obj[name]}

mixin getByLang(obj,name,bylang)
  | #{obj[name+"_"+bylang] || obj[name]}

mixin getInfo(index)
  - var speaker = speakers_i18n[index]
  .modal.fade(tabindex='-1', role='dialog', aria-hidden='true', id='Info#{speaker["uid"]}')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          - var avatar = speaker["avatar"] || "http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png"
          img.img-circle.img-responsive(src=avatar, alt='#{speaker["name_"+lang]}')
          h5.modal-title=speaker["name_"+lang]
          if speaker["twitter"]
            div.social-network.pull-right
              a.twitter-color(href='http://twitter.com/#{speaker["twitter"]}', target="_blank")
                span.fui-twitter
          span.badge=speaker["country_"+lang]
        .modal-body
          h6 Bio
          p!=speaker["bio_"+lang]
          if speaker["abstract_"+lang]
            h6 Abstract
            p!=speaker["abstract_"+lang]
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

mixin topicslots_title(time)
  //- TODO use css to color block and set width
  tr
    td.text-center 地點
    each room in [["r1",294,"danger"],["r2",247,"success"],["r3",247,"warning"],["r4",250,"info"]]
      td.text-center(class="alert-"+room[2],width=room[1])
        - var obj = schedule_i18n[room[0]+"_"+time+"_topic"]
        h5
          +get(obj, "room")
  tr
    td.text-center 主題
    each room in [["r1",294,"danger"],["r2",247,"success"],["r3",247,"warning"],["r4",250,"info"]]
      td.text-center(class="alert-"+room[2],width=room[1])
        - var obj = schedule_i18n[room[0]+"_"+time+"_topic"]
        h5
          +get(obj, "title")
        span
          +get(obj, "subtitle")
        //br
        //span
        //  +get(obj, "room")
        - var badge = obj["badge_"+lang] || obj["badge"]
        if badge
          span.badge #{badge}

mixin topicslots_desc(time)
  tr
    td.text-center 主題介紹
    each section in ["r1","r2","r3","r4"]
      td(valign="top")
        - var name = section + "_" + time + "_topic"
        - var obj = schedule_i18n[section+"_"+time+"_topic"]
        - var desc = schedule_i18n[name]["desc_"+lang] || schedule_i18n[name]["desc"]
        p.topic_desc=obj["short_desc_"+lang]
        .pull-right
          button.btn.btn-primary.btn-sm(data-toggle='modal', data-target='##{section}_#{time}_topic') more
        .moderator 主持人：
          !=obj["moderator"]
        .modal.fade(tabindex='-1', role='dialog', aria-hidden='true', id='#{section}_#{time}_topic')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
                  span.sr-only Close
                h5.modal-title
                  +get(obj, "title")
                if lang === 'zh'
                  +get(obj, "subtitle")
              .modal-body
                each p in desc
                  p!= p
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
        if schedule_i18n[name]["speakerId"]
          - var index = schedule_i18n[name]["speakerId"] - 1
          +getInfo(index)
        else if schedule_i18n[name]["speakerIds"]
          each id in schedule_i18n[name]["speakerIds"]
            if id
              +getInfo(id-1)

mixin timeslots(head, time)
  tr
    td.text-center #{head}
    each room in rooms
      - var obj = schedule_i18n[room + "_" + time]
      if obj
        - var row = obj["row"] || 1
        - var target = '#Info' + obj["speakerId"]
        td(rowspan=row)
          - title = obj["title_" + lang] || obj["title"]
          if title == "TBD"
            span.text-muted= title
          else
            strong= title
          br
          - var list = obj["list_"+lang] || obj["list"]
          if list
            ul
              each p in list
                li
                  != p
          else
            span.fui-user
            |&nbsp;
            if obj["speakerId"]
              span.text-primary.speaker-info(data-toggle='modal', data-target=target)
                +get(obj, "speaker")
            else
              span.text-primary
                +get(obj, "speaker")
          if obj.language
            span.lang= _(obj.language)
          if obj.interpretation
            span.lang.interpreted(title=_('Interpreted'))= _(obj.interpretation)
          span.badge
            +get(obj, "tag")
          if obj["speakerId"]
            - var index = obj["speakerId"] - 1
            +getInfo(index)
          else if obj["speakerIds"]
            each id in obj["speakerIds"]
              if id
                +getInfo(id-1)

block vars
  - var tabName = _("Schedule")

block content
  - var rooms = ["r1","r2","r3","r4"]
  include ../../i18n/gen/schedule.jade
  include ../../i18n/gen/speakers.jade
  .row
    .col-sm-12
      h5 Day 1 / Conference 國際研討會
        p
        img(src='/images/icons/png/s-date.png', align='middle')
        |  2014/11/8
        img(src='/images/icons/png/s-map.png', align='middle')
        |  台北市南港區中央研究院人文社會科學館
      .alert.alert-warning
        p 即時口譯可自備電腦及耳機由網路收聽，或由現場限量之無線耳機接收。
        p Live interpretation service avaialble via internet (bring your laptop and headsets!) as well as limited wireless headsets.
        p
          | 議程語言說明 / Session Language Legend
          span.lang 議程主要語言 / Primary Session Language
          span.lang.interpreted 即時口譯語言 / Live Interpretation Available
      table.table.table-bordered.table-striped
        tr
          td.text-center(width='138') 8:00 - 9:00
          td.text-center(colspan='4')
            h6 報到 / Registration

        tr
          td.text-center(width='138') 9:00 - 9:10
          td.text-center(colspan='4')
            h5 #{schedule_i18n["opening_"+lang] || schedule_i18n["opening"]}
            span.fui-user
            |&nbsp;
            span.text-primary
              b  高嘉良 clkao
              span.lang= _('ZH/EN')
              span.lang.interpreted(title=_("Interpreted"))= _('EN/ZH')
        tr
          td.text-center 9:10 - 9:40
          td.text-center(colspan='4')
            h5 Keynote
            span.fui-user
            span.text-primary.speaker-info(data-toggle='modal' data-target='#Info42')
              b David Eaves
              span.lang= _('EN')
              span.lang.interpreted(title=_("Interpreted"))= _('ZH')
            +getInfo(41)
        tr
          td.text-center 9:40 - 9:50
          td.text-center(colspan='4')
            h5
              | BREAK
              span(style='font-size:14px;') (10 mins)

        +topicslots_title("am")
        +topicslots_desc("am")
        +timeslots("9:50 - 10:20", "0950")
        +timeslots("10:20 - 10:50", "1020")

        tr
          td.text-center 10:50 - 11:20
          td.text-center(colspan='4')
            h5
              | BREAK
              span(style='font-size:14px;') (30 mins)

        +timeslots("11:20 - 11:50", "1120")
        +timeslots("11:50 - 12:20", "1150")

        tr
          td.text-center 12:20 - 13:30
          td.text-center(colspan='4')
            h5
              | LUNCH
              span(style='font-size:14px;') (70 mins)

        +topicslots_title("pm")
        +topicslots_desc("pm")
        +timeslots("13:10 - 13:30", "1310")
        +timeslots("13:30 - 14:00", "1330")
        +timeslots("14:10 - 14:40", "1410")
        +timeslots("14:40 - 15:05", "1440")
        +timeslots("15:05 - 15:10", "1505")

        tr
          td.text-center 15:10 - 15:50
          td.text-center(colspan='3')
            h5
              | TEA BREAK
              span(style='font-size:14px;') (40 mins)
        tr
          td.text-center(rowspan='2') 15:50    - 17:00
          td.text-center(colspan='4', rowspan='2')
            br
            span(style='font-size:18px;') 合辦單位 中研院社會所蕭新煌所長致詞
            h5
              | Lightning talks
              span(style='font-size:14px;') (70 mins)
              br
              span(style='font-size:18px;') 閃電秀由現場參與者當天報名，每講 5 分鐘
              span.lang ZH/EN
            br
            span(style='font-size:18px;') 閉幕 Closing Remarks
        tr
      h5 Day 2 / Unconference 開放工作坊
        p
        img(src='/images/icons/png/s-date.png', align='middle')
        |  2014/11/9
        img(src='/images/icons/png/s-map.png', align='middle')
        |  台北市南港區中央研究院資訊所
      //.alert.alert-success VIP 與國際早鳥票可優先選擇是否參與不需再報，一般票
        span.text-danger
         b 10/1 晚間
        | 開放報名。
      // td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
      table.table.table-bordered.table-striped(cellspacing='0', cellpadding='0')
        colgroup
          col(width='100')
          col(width='269')
          col(width='269')
          col(width='269')
          col(width='269')
        tbody
          tr
            td.text-center(width='12%') 8:30 - 9:30
            td.text-center(width='88%', rowspan='1') 報到 / Registration
          tr
            td.text-center 9:30 - 9:40
            td.text-center(rowspan='1') 開場 / Opening
          tr
            td.text-center 9:40 -10:10
            td.text-center(rowspan='1')
              h5 Keynote
              span.fui-user
              span.text-primary
                b: a(href="https://en.wikipedia.org/wiki/Clay_Shirky",target="_blank") Clay Shirky
          tr
            td.text-center 10:10-10:30
            td.text-center(rowspan='1') BREAK (20 mins)
          tr
            td.text-center 10:30-10:50
            td.text-center(rowspan='1') 參與者提案，確定全天議程（全體） / Scheduling
          tr
            td.text-center.alert-info
              | 10:50 - 11:30
              br
              |                       11:35 - 12:15
            td.text-center.alert-info
              div
                h5 UnConference!
                |                         五間會議室，由參與者自主提案分組進行 / 5 rooms available for unconference
          tr
            td.text-center 12:15-13:30
            td.text-center(rowspan='1') LUNCH (70 mins)
          tr
            td.text-center.alert-info
              | 13:30 - 14:10
              br
              |                       14:15 - 14:55
            td.text-center.alert-info
              div
                h5 UnConference!
                |                         五間會議室，由參與者自主提案分組進行 / 5 rooms available for unconference
          tr
            td.text-center 15:00 - 15:40
            td.text-center(rowspan='1') TEA BREAK (40 mins)
          tr
            td.text-center.alert-info
              | 15:45 - 16:25
              br
              |                       16:30-17:10
            td.text-center.alert-info
              div
                h5 UnConference!
                |                         五間會議室，由參與者自主提案分組進行 / 5 rooms available for unconference
          tr
            td.text-center(colspan='1')
              div 17:15 - 18:00
            td.text-center
              div
                | Lightning talks (45 mins)
                br
                |                         Closing
  include video.jade
