extends ../layout/page

mixin get(obj,name)
  | #{obj[name+"_"+lang] || obj[name]}

mixin topicslots_title(time)
  //- TODO use css to color block and set width
  tr
    td.text-center 主題
    each room in [["r1",294,"danger"],["r2",247,"success"],["r3",247,"warning"],["r4",250,"info"]]
      td.text-center(class="alert-"+room[2],width=room[1])
        - var obj = i18n[room[0]+"_"+time+"_topic"]
        h5
          +get(obj, "title")
        span
          +get(obj, "subtitle")
        - var badge = obj["badge_"+lang] || obj["badge"]
        if badge
          span.badge #{badge}

mixin topicslots_desc(time)
  tr
    td.text-center 主題介紹
    each section in ["r1","r2","r3","r4"]
      td(valign="top")
        - var name = section + "_" + time + "_topic"
        - var desc = i18n[name]["desc_"+lang] || i18n[name]["desc"]
        each p in desc
          p= p

mixin timeslots(head, time)
  tr
    td.text-center #{head}
    each room in rooms
      - var obj = i18n[room + "_" + time]
      if obj
        - var row = obj["row"] || 1
        td(rowspan=row)
          - title = obj["title_" + lang] || obj["title"]
          if title == "TBD"
            span.text-muted= title
          else
            strong= title
          br
          - var list = obj["list_"+lang] || obj["list"]
          if list
            ul
              each p in list
                li
                  != p
          else
            span.fui-user
            |  
            span.text-primary
              +get(obj, "speaker")
            span.badge= obj["tag"]

block vars
  - var tabName = "議程"
block title
  h2 Schedule
  //h5(style='line-height:250%;')
    img(src='/images/icons/png/s-date.png', align='middle')
    |  2014/11/8 
    img(src='/images/icons/png/s-map.png', align='middle')
    |  台北市南港區中央研究院人文館

block content
  - var rooms = ["r1","r2","r3","r4"]
  include ../../i18n/gen/schedule.jade
  .row
    .col-sm-12
      h5 Day 1 / Conference 國際研討會
        p
        img(src='/images/icons/png/s-date.png', align='middle')
        |  2014/11/8 
        img(src='/images/icons/png/s-map.png', align='middle')
        |  台北市南港區中央研究院人文社會科學館
      .alert.alert-success VIP 請於 9/30 前完成報名，邀請碼逾期將失效。一般票 
        span.text-danger 
         b 10/1 中午
        | 開放報名，
        span.text-danger 
         b 第二天 Unconference 需另報名。        
      table.table.table-bordered.table-striped
        col(width='101')
        col(width='234', span='4')
        tr
          td.text-center(width='138') 9:00 - 9:10
          td.text-center(colspan='4')
            h5 #{i18n["opening_"+lang] || i18n["opening"]}
            span.fui-user
            span.text-primary
              b clkao
        tr
          td.text-center 9:10 - 9:40
          td.text-center(colspan='4')
            h5 Keynote
            span.fui-user
            span.text-primary
              b: a(href="http://eaves.ca/about-david/") David Eaves
        tr
          td.text-center 9:40 - 9:50
          td.text-center(colspan='4')
            h5
              | BREAK    
              span(style='font-size:14px;') (10 mins)

        +topicslots_title("am")
        +topicslots_desc("am")
        +timeslots("9:50 - 10:20", "0950")
        +timeslots("10:20 - 10:50", "1020")

        tr
          td.text-center 10:50 - 11:20
          td.text-center(colspan='4')
            h5
              | BREAK    
              span(style='font-size:14px;') (30 mins)

        +timeslots("11:20 - 11:50", "1120")
        +timeslots("11:50 - 12:20", "1150")

        tr
          td.text-center 12:20 - 13:30
          td.text-center(colspan='4')
            h5
              | LUNCH    
              span(style='font-size:14px;') (70 mins)

        +topicslots_title("pm")
        +topicslots_desc("pm")
        +timeslots("13:30 - 14:00", "1330")
        +timeslots("14:10 - 14:40", "1410")
        +timeslots("14:40 - 15:10", "1440")

        tr
          td.text-center 15:10 - 15:50
          td.text-center(colspan='4')
            h5
              | TEA BREAK 
              span(style='font-size:14px;') (40 mins)
        tr
          td.text-center(rowspan='2') 15:50    - 17:00
          td.text-center(colspan='4', rowspan='2')
            h5
              | Lightning talks 
              span(style='font-size:14px;') (70 mins)
              br
              span(style='font-size:18px;') 閃電秀由現場參與者當天報名，每講 5 分鐘
        tr  
      h5 Day 2 / Unconference 開放工作坊
        p
        img(src='/images/icons/png/s-date.png', align='middle')
        |  2014/11/9 
        img(src='/images/icons/png/s-map.png', align='middle')
        |  台北市南港區中央研究院資訊所
      .alert.alert-success VIP 與國際早鳥票可優先選擇是否參與不需再報，一般票 
        span.text-danger 
         b 10/1 晚間
        | 開放報名。
      // td {border: 1px solid #ccc;}br {mso-data-placement:same-cell;}
      table.table.table-bordered.table-striped(cellspacing='0', cellpadding='0')
        colgroup
          col(width='100')
          col(width='269')
          col(width='269')
          col(width='269')
          col(width='269')
        tbody
          tr
            td.text-center(width='12%') 9:00 - 9:30
            td.text-center(width='88%', rowspan='1') 報到
          tr
            td.text-center 9:30 - 9:40
            td.text-center(rowspan='1') 開場
          tr
            td.text-center 9:40 -10:10
            td.text-center(rowspan='1') TBD
          tr
            td.text-center 10:10-10:30
            td.text-center(rowspan='1') BREAK (20 mins)
          tr
            td.text-center 10:30-10:50
            td.text-center(rowspan='1') 參與者提案，確定全天議程（全體）
          tr
            td.text-center.alert-info
              | 10:50 - 11:30
              br
              |                       11:35 - 12:15
            td.text-center.alert-info
              div
                h5 UnConfernece!
                |                         五間會議室，由參與者自主提案分組進行
          tr
            td.text-center 12:15-13:30
            td.text-center(rowspan='1') LUNCH (70 mins)
          tr
            td.text-center.alert-info
              | 13:30 - 14:10
              br
              |                       14:15 - 14:55
            td.text-center.alert-info
              div
                h5 UnConfernece!
                |                         五間會議室，由參與者自主提案分組進行
          tr
            td.text-center 15:00 - 15:40
            td.text-center(rowspan='1') TEA BREAK (40 mins)
          tr
            td.text-center.alert-info
              | 15:45 - 16:25
              br
              |                       16:30-17:10
            td.text-center.alert-info
              div
                h5 UnConfernece!
                |                         五間會議室，由參與者自主提案分組進行
          tr
            td.text-center(colspan='1')
              div 17:15 - 18:00
            td.text-center
              div
                | Lightning talks (45 mins)
                br
                |                         Closing
