extends ../layout/page
mixin get_speaker(index)
  - var obj = speakers_i18n[index]
  if obj
    .col-md-4
      .well
        .row
          .col-sm-12
            .col-xs-12.col-sm-8
              h6=obj["name_zh"]
            .col-xs-12.col-sm-4.text-center
              figure
                img.img-circle.img-responsive(src='#{obj["avatar"]}', alt='')
                figcaption.ratings
                  p
                    span.badge=obj["country_zh"]
            p!=obj["bio_zh"]
            if obj["topic_zh"]
              p
                | 講題：
                strong
                  span.text-primary=obj["topic_zh"]
            if obj["abstract_zh"]
              p.text-center
                button.btn.btn-primary(data-toggle='modal', data-target='#Abstract#{obj["uid"]}') Abstract
              .modal.fade(tabindex='-1', role='dialog', aria-hidden='true', id='Abstract#{obj["uid"]}')
                .modal-dialog
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                      h5.modal-title=obj["topic_zh"]
                    .modal-body
                      p!=obj["abstract_zh"]
                    .modal-footer
                      button.btn.btn-default(type='button', data-dismiss='modal') Close

block vars
  - var tabName = _("Speakers")

block content
  include ../../i18n/gen/speakers.jade
  each speaker, index in speakers_i18n
    if 0 === index%3
      .row
        +get_speaker(index)
        +get_speaker(index+1)
        +get_speaker(index+2)
